variables:
  DOCKER_DRIVER: overlay2 # use faster volume driver
  DOCKER_IMAGE: registry.gitlab.com/publicmarket/global-reputation

stages:
  - build
  - test

build:
  stage: build
  tags:
    - build
  image: docker:latest
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker build -t $DOCKER_IMAGE:latest .
    - docker push $DOCKER_IMAGE:latest
    # cleanup
    - docker system prune -f

rspec:
  image: $DOCKER_IMAGE:latest
  stage: test
  services:
    - postgres:10.1-alpine
  cache:
    paths:
      - vendor/bundle
      - cc-test-reporter
  variables:
    POSTGRES_DB: global_reputation_test
    DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/$POSTGRES_DB"
    RAILS_ENV: test
  before_script:
    # setup codeclimate test reporter
    - wget -nc -O ./cc-test-reporter https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 || true
    - chmod +x ./cc-test-reporter
    - ./cc-test-reporter before-build
    # setup rails test db
    - bundle exec rails db:migrate
  script:
    - bundle exec rspec
    - ./cc-test-reporter after-build --coverage-input-type simplecov --exit-code $?
